version: "3.9"

services:
  cockroach-1:
    image: cockroachdb/cockroach:v23.1.11 #specific version, just tom ake sure there are no problems in future.
    hostname: cockroach-1
    container_name: roach-1
    command: >
      start --insecure
      --listen-addr=:26257              
      --advertise-addr=cockroach-1:26257   
      --http-addr=0.0.0.0:8080            
      --join=cockroach-1,cockroach-2,cockroach-3
      --store=/cockroach/cockroach-data
    ports:
      - "26257:26257"
      - "8080:8080"
    volumes:
      - crdb1:/cockroach/cockroach-data

  cockroach-2:
    image: cockroachdb/cockroach:v23.1.11
    hostname: cockroach-2
    container_name: roach-2
    command: >
      start --insecure
      --listen-addr=:26257
      --advertise-addr=cockroach-2:26257
      --http-addr=0.0.0.0:8080
      --join=cockroach-1,cockroach-2,cockroach-3
      --store=/cockroach/cockroach-data
    volumes:
      - crdb2:/cockroach/cockroach-data

  cockroach-3:
    image: cockroachdb/cockroach:v23.1.11
    hostname: cockroach-3
    container_name: roach-3
    command: >
      start --insecure
      --listen-addr=:26257
      --advertise-addr=cockroach-3:26257
      --http-addr=0.0.0.0:8080
      --join=cockroach-1,cockroach-2,cockroach-3
      --store=/cockroach/cockroach-data
    volumes:
      - crdb3:/cockroach/cockroach-data

  flyway:
    image: flyway/flyway:10
    depends_on:
      - cockroach-1
    volumes:
      - ./code/migrations:/flyway/sql:ro
    command: >
      -url=jdbc:postgresql://cockroach-1:26257/defaultdb
      -user=root
      -password=
      -connectRetries=60
      migrate
      
  grafana:
    image: grafana/grafana:10.2.3
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - cockroach-1


  ingest-1:
    build: ./code/ingest
    environment:
      - WORKER_ID=0
      - WORKERS=10
      - DATABASE_URL=postgresql://root@cockroach-1:26257/reddit?sslmode=disable
    volumes:
      - ./data:/data:ro
    depends_on:
      - cockroach-1

  ingest-2:
    build: ./code/ingest
    environment:
      - WORKER_ID=1
      - WORKERS=10
      - DATABASE_URL=postgresql://root@cockroach-1:26257/reddit?sslmode=disable
    volumes:
      - ./data:/data:ro
    depends_on:
      - cockroach-1

  ingest-3:
    build: ./code/ingest
    environment:
      - WORKER_ID=2
      - WORKERS=10
      - DATABASE_URL=postgresql://root@cockroach-1:26257/reddit?sslmode=disable
    volumes:
      - ./data:/data:ro
    depends_on:
      - cockroach-1

  ingest-4:
    build: ./code/ingest
    environment:
      - WORKER_ID=3
      - WORKERS=10
      - DATABASE_URL=postgresql://root@cockroach-1:26257/reddit?sslmode=disable
    volumes:
      - ./data:/data:ro
    depends_on:
      - cockroach-1

  ingest-5:
    build: ./code/ingest
    environment:
      - WORKER_ID=4
      - WORKERS=10
      - DATABASE_URL=postgresql://root@cockroach-1:26257/reddit?sslmode=disable
    volumes:
      - ./data:/data:ro
    depends_on:
      - cockroach-1

  ingest-6:
    build: ./code/ingest
    environment:
      - WORKER_ID=5
      - WORKERS=10
      - DATABASE_URL=postgresql://root@cockroach-1:26257/reddit?sslmode=disable
    volumes:
      - ./data:/data:ro
    depends_on:
      - cockroach-1

  ingest-7:
    build: ./code/ingest
    environment:
      - WORKER_ID=6
      - WORKERS=10
      - DATABASE_URL=postgresql://root@cockroach-1:26257/reddit?sslmode=disable
    volumes:
      - ./data:/data:ro
    depends_on:
      - cockroach-1

  ingest-8:
    build: ./code/ingest
    environment:
      - WORKER_ID=7
      - WORKERS=10
      - DATABASE_URL=postgresql://root@cockroach-1:26257/reddit?sslmode=disable
    volumes:
      - ./data:/data:ro
    depends_on:
      - cockroach-1

  ingest-9:
    build: ./code/ingest
    environment:
      - WORKER_ID=8
      - WORKERS=10
      - DATABASE_URL=postgresql://root@cockroach-1:26257/reddit?sslmode=disable
    volumes:
      - ./data:/data:ro
    depends_on:
      - cockroach-1

  ingest-10:
    build: ./code/ingest
    environment:
      - WORKER_ID=9
      - WORKERS=10
      - DATABASE_URL=postgresql://root@cockroach-1:26257/reddit?sslmode=disable
    volumes:
      - ./data:/data:ro
    depends_on:
      - cockroach-1

  consumer-1:
    build: ./code/consumer
    environment:
      - WORKER_ID=1
      - DATABASE_URL=postgresql://root@cockroach-1:26257/reddit?sslmode=disable
    depends_on:
      - cockroach-1

  consumer-2:
    build: ./code/consumer
    environment:
      - WORKER_ID=2
      - DATABASE_URL=postgresql://root@cockroach-1:26257/reddit?sslmode=disable
    depends_on:
      - cockroach-1

  consumer-3:
    build: ./code/consumer
    environment:
      - WORKER_ID=3
      - DATABASE_URL=postgresql://root@cockroach-1:26257/reddit?sslmode=disable
    depends_on:
      - cockroach-1

  consumer-4:
    build: ./code/consumer
    environment:
      - WORKER_ID=4
      - DATABASE_URL=postgresql://root@cockroach-1:26257/reddit?sslmode=disable
    depends_on:
      - cockroach-1

  consumer-5:
    build: ./code/consumer
    environment:
      - WORKER_ID=5
      - DATABASE_URL=postgresql://root@cockroach-1:26257/reddit?sslmode=disable
    depends_on:
      - cockroach-1

volumes:
  crdb1:
  crdb2:
  crdb3:
